Source: dotnet6
Section: unknown
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Miriam España Acebal <miriam.espana@canonical.com>
Build-Depends: debhelper (>=11~), clang, cmake, coreutils, findutils, locales-all, git, hostname, libkrb5-dev, libicu-dev, libunwind-dev, lld, llvm, liblttng-ust-dev, make, libssl-dev, python3, tar, util-linux, zlib1g-dev
Standards-Version: 4.1.4
Homepage: <insert the upstream URL, if relevant>

Package: dotnet6
Architecture: any
Multi-Arch: foreign
Depends: dotnet-sdk-6.0, ${misc:Depends}, ${shlibs:Depends}
Description: .NET CLI tools and runtime
 .
 .NET is a fast, lightweight and modular platform for creating
 cross platform applications that work on Linux, macOS and Windows.
 .
 It particularly focuses on creating console applications, web
 applications and micro-services.
 .
 .NET contains a runtime conforming to .NET Standards a set of
 framework libraries, an SDK containing compilers and a 'dotnet'
 application to drive everything.

Package: dotnet-host
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: .NET host command line
 .
 The .NET host is a command line program that runs a standalone
 .NET application or launches the SDK.
 .
 .NET is a fast, lightweight and modular platform for creating
 cross platform applications that work on Linux, macOS and Windows.
 .
 It particularly focuses on creating console applications, web
 applications and micro-services.

Package: dotnet-hostfxr-6.0
Architecture: any
Multi-Arch: foreign
Depends: dotnet-host, ${misc:Depends}, ${shlibs:Depends}
Description: ..NET host resolver
 .
 The .NET host resolver contains the logic to resolve and select
 the right version of the .NET SDK or runtime to use.
 .
 .NET is a fast, lightweight and modular platform for creating
 cross platform applications that work on Linux, macOS and Windows.
 .
 It particularly focuses on creating console applications, web
 applications and micro-services.

Package: dotnet-runtime-6.0
Architecture: any
Multi-Arch: foreign
Depends: dotnet-hostfxr-6.0, libicu67, libunwind-13, ${misc:Depends}, ${shlibs:Depends}
Description: .NET runtime
 .
 The .NET runtime contains everything needed to run .NET applications.
 It includes a high performance Virtual Machine as well as the framework
 libraries used by .NET applications.
 .
 .NET is a fast, lightweight and modular platform for creating
 cross platform applications that work on Linux, macOS and Windows.
 .
 It particularly focuses on creating console applications, web
 applications and micro-services.

Package: aspnetcore-runtime-6.0
Architecture: any
Multi-Arch: foreign
Depends: dotnet-runtime-6.0, ${misc:Depends}, ${shlibs:Depends}
Description: ASP.NET Core runtime
 .
 The ASP.NET Core runtime contains everything needed to run .NET
 web applications. It includes a high performance Virtual Machine as
 well as the framework libraries used by .NET applications.
 .
 ASP .NET Core is a fast, lightweight and modular platform for creating
 cross platform applications that work on Linux, macOS and Windows.
 .
 It particularly focuses on creating console applications, web
 applications and micro-services.

Package: dotnet-templates-6.0
Architecture: any
Multi-Arch: foreign
Depends: dotnet-host, ${misc:Depends}, ${shlibs:Depends}
Description: .NET 6.0 templates
 .
 This package contains templates used by the .NET SDK.
 .
 .NET is a fast, lightweight and modular platform for creating
 cross platform applications that work on Linux, macOS and Windows.
 .
 It particularly focuses on creating console applications, web
 applications and micro-services.

Package: dotnet-sdk-6.0
Architecture: any
Multi-Arch: foreign
Depends: dotnet-runtime-6.0,aspnetcore-runtime-6.0, dotnet-targeting-pack-6.0, dotnet-templates-6.0, ${misc:Depends}, ${shlibs:Depends}
Description: .NET 6.0 Software Development Kit
 .
 The .NET SDK is a collection of command line applications to
 create, build, publish and run .NET applications.
 .
 .NET is a fast, lightweight and modular platform for creating
 cross platform applications that work on Linux, macOS and Windows.
 .
 It particularly focuses on creating console applications, web
 applications and micro-services.

Package: dotnet-sdk-6.0-source-built-artifacts
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Internal package for building .NET 6.0 Software Development Kit
 .
 The .NET source-built archive is a collection of packages needed
 to build the .NET SDK itself.
 .
 These are not meant for general use.

Package: dotnet-targeting-pack-6.0
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Internal
 .
